body {
    height: 200vh;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    opacity: 0.0001;
}

.home-overlay {
    background-color: rgba(36, 36, 36, 0.684)
}

.bg1 {
    background-image: url(../img//bg-image-28.jpg);
    mask-repeat: no-repeat;
}

.bg2 {
    background-image: url(../img//bg-image-29.jpg);
    mask-repeat: no-repeat;
}

.carousel-caption {
    font-family: 'Poppins';
}

.carousel-caption h1 {
    font-size: 90px;
    font-weight: 600;
}


.carousel-caption p {
    color: rgba(255, 255, 255, 0.816);
}
